{% extends 'authentication/base.html' %}
{% load static %}

{% block container %}

{% if forms.errors %}
{% for fields in form %}
{% for error in fields.errors %}
<div role="alert" class="alert alert-danger">{{ error }}</div>
{% endfor %}
{% endfor %}
{% endif %}



<div class="form-body">
    <div class="website-logo">
        <a href="{% url 'core:authentication:login' %}">
            <div class="logo">
                <img class="logo-size" src="i{% static 'mages/logo-light.svg' %}" alt="">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <img src="{% static 'images/graphic3.svg' %}" alt="">
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Get more things done with our inventory platform.</h3>
                    <p>Access to the most powerfull tool you can get on the internet.</p>
                    <form method="post" action="{% url 'core:authentication:login' %}">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                        {% endfor %}
                        <!-- <input class="form-control" type="text" name="username" placeholder="E-mail Address" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required> -->
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Login</button>
                            <a href="{% url 'core:records' %}">
                                <button type="button" class="ibtn">View Records</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}