[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cms = "*"
vyper = "*"
web3 = "*"
moralis = "*"

[dev-packages]

[requires]
python_version = "3.10"
