{% extends 'core/base.html' %}
{% load static %}
{% block container %}

<!-- Body: Body -->
<div class="body d-flex py-3">
    <div class="container-xxl">

        <div class="row g-3 mb-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
            <div class="col">
                <div class="alert-success alert mb-0">
                    <div class="d-flex align-items-center">
                        <div class="avatar rounded no-thumbnail bg-success text-light"><i
                                class="fa fa-dollar fa-lg"></i></div>
                        <div class="flex-fill ms-3 text-truncate">
                            <div class="h6 mb-0">Revenue</div>
                            <span class="small">$18,925</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="alert-danger alert mb-0">
                    <div class="d-flex align-items-center">
                        <div class="avatar rounded no-thumbnail bg-danger text-light"><i
                                class="fa fa-credit-card fa-lg"></i></div>
                        <div class="flex-fill ms-3 text-truncate">
                            <div class="h6 mb-0">Expense</div>
                            <span class="small">$11,024</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="alert-warning alert mb-0">
                    <div class="d-flex align-items-center">
                        <div class="avatar rounded no-thumbnail bg-warning text-light"><i
                                class="fa fa-smile-o fa-lg"></i></div>
                        <div class="flex-fill ms-3 text-truncate">
                            <div class="h6 mb-0">Happy Clients</div>
                            <span class="small">8,925</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="alert-info alert mb-0">
                    <div class="d-flex align-items-center">
                        <div class="avatar rounded no-thumbnail bg-info text-light"><i class="fa fa-shopping-bag"
                                aria-hidden="true"></i></div>
                        <div class="flex-fill ms-3 text-truncate">
                            <div class="h6 mb-0">New StoreOpen</div>
                            <span class="small">8,925</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row end  -->

        <div class="row g-3">
            <div class="col-lg-12 col-md-12">
                <div class="tab-content mt-1">
                    <div class="tab-pane fade show active" id="summery-today">
                        <div class="row g-1 g-sm-3 mb-3 row-deck">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div
                                        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="left-info">
                                            <span class="text-muted">Suppliers</span>
                                            <div><span class="fs-6 fw-bold me-2">{{ total_suppliers }}</span></div>
                                        </div>
                                        <div class="right-icon">
                                            <i class="icofont-student-alt fs-3 color-light-orange"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div
                                        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="left-info">
                                            <span class="text-muted">Order</span>
                                            <div><span class="fs-6 fw-bold me-2">2314</span></div>
                                        </div>
                                        <div class="right-icon">
                                            <i class="icofont-shopping-cart fs-3 color-lavender-purple"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div
                                        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="left-info">
                                            <span class="text-muted">Avg Item Sale</span>
                                            <div><span class="fs-6 fw-bold me-2">185</span></div>
                                        </div>
                                        <div class="right-icon">
                                            <i class="icofont-calculator-alt-2 fs-3 color-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div
                                        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="left-info">
                                            <span class="text-muted">Total Sale</span>
                                            <div><span class="fs-6 fw-bold me-2">{{ total_sales }}</span></div>
                                        </div>
                                        <div class="right-icon">
                                            <i class="icofont-calculator-alt-1 fs-3 color-lightblue"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div
                                        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="left-info">
                                            <span class="text-muted">Total Products</span>
                                            <div><span class="fs-6 fw-bold me-2">{{ total_products }}</span></div>
                                        </div>
                                        <div class="right-icon">
                                            <i class="icofont-bag fs-3 color-light-orange"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row end -->
                    </div>
                </div>
            </div>
        </div><!-- Row end  -->


        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div
                        class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                        <h6 class="m-0 fw-bold">Recent Transactions</h6>
                    </div>
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Items</th>
                                    <th>Order By</th> 
                                    <th>Date</th>
                                    <th>Supplier</th>
                                    <th>Paid</th>
                                    <th>Quantity</th>
                                    <th>Transaction Status</th>   
                                    <th>Actions</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for trnx in transactions %}
                                <tr>
                                    <td>
                                        <strong>{{trnx.sale_id }}</strong>
                                    </td>
                                    <td>
                                        {{ trnx.item.title }} 
                                    </td>
                                    <td>
                                        <img class="avatar rounded" src="{% static 'images/xs/avatar1.svg' %}" alt="">
                                        <span class="fw-bold ms-1">{{ trnx.buyer_name }}</span>
                                    </td>
                                    <td>
                                        {{ trnx.created_at }}
                                    </td>
                                    <td>{{ trnx.supplier.name  }}</td>
                                    <td>${{ trnx.paid }}</td>
                                    <td>{{ trnx.quantity }}</td>

                                    {% if trnx.get_transaction_status_display == 'Pending' %}
                                    <td><span class="badge bg-warning">Pending</span></td>
                                    {% elif trnx.get_transaction_status_display == 'Completed' %}
                                    <td><span class="badge bg-success">completed</span></td>
                                    {% elif trnx.get_transaction_status_display == 'Declined' %}
                                    <td><span class="badge bg-danger">declined</span></td>
                                    {% endif %}

                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <a href="{% url 'core:inventory:sale_update' trnx.pk %}">
                                                <button type="button" class="btn btn-outline-secondary"  data-bs-toggle="modal" data-bs-target="#expedit"><i class="icofont-edit text-success"></i></button>
                                            </a>
                                            <!-- <button type="button" class="btn btn-outline-secondary deleterow"><i class="icofont-ui-delete text-danger"></i></button> -->
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row end  -->

    </div>
</div>

{% endblock container %}