{% extends 'core/base.html' %}
{% load static %}
{% block container %}

{% if err_msg %}
<div role="alert" class="alert alert-danger">{{ err_msg }} </div>
{% endif %}

<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div
                    class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Suppliers Information</h3>
                    <div class="col-auto d-flex w-sm-100">
                        <a href="{% url 'core:inventory:supplier_create' %}">
                            <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal"
                                data-bs-target="#expadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add
                                Suppliers</button>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Items</th>
                                    <th>Suppliers</th>
                                    <th>Mail</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Tax No</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td><strong>#{{ object.supplier_id }}</strong></td>
                                    <td>{{ object.item }} </td>
                                    <td>
                                        <img class="avatar rounded" src="{% static 'images/xs/avatar1.svg' %}" alt="">
                                        <span class="fw-bold ms-1">{{ object.name }}</span>
                                    </td>
                                    <td>{{ object.email }}</td>
                                    <td>{{ object.phone }}</td>
                                    <td>{{ object.address }}</td>
                                    <td>{{ object.tax_number }}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <a href="{% url 'core:inventory:supplier_update' object.pk %}">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-toggle="modal" data-bs-target="#expedit"><i
                                                        class="icofont-edit text-success"></i></button>

                                            </a>

                                            <a href="{% url 'core:inventory:supplier_delete' object.pk %}">
                                                <button type="button" class="btn btn-outline-secondary deleterow"><i
                                                        class="icofont-ui-delete text-danger"></i></button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>
{% endblock container %}